/********** Base styles **********/
* {
    box-sizing: border-box;
  }
  h1 {
    margin-bottom: 15px;
    text-align: center;
  }

  h2 {
    float: right;
    width: 20%;
    height: 10%;
    border: 1px solid black;
    margin: 0;
    text-align: center;
  }

  .beef {
    background-color: blueviolet;
  }
  .chicken {
    background-color: teal;
  }
  .drinks {
    background-color: crimson;
  }

  section {
    background-color: gray;
    margin: auto;
  }

  p {
    background-color: gray;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: white;
    float: left;
  }
  
  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }
  
  /********** desktop devices only **********/
  @media (min-width: 992px) {
    .col-desktop {
      float: left;
      border: 3px solid black;
      width: calc(100%/3)
    }
  }
  
  /********** tablet devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-tablet-1, .col-tablet-2 {
      float: left;
      border: 3px solid black;
    }
        .col-tablet-1 {
            width: 50%;
        }
        .col-tablet-2 {
            width: 100%;
        }
    }

        /********** mobile devices only **********/
    @media (max-width: 767px) {
        .col-mobile {
            float: middle;
            border: 3px solid black;
        }
    }
  
  