/********** Base styles **********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: gray;
  }
  h1 {
    margin-bottom: 15px;
    text-align: center;
  }

  h2 {
    float: right;
    width: 120px;
    height: 30px;
    border: 1px solid black;
    margin: 0;
    text-align: center;
    clear: left;
  }

  .beef {
    background-color: plum;
  }
  .chicken {
    background-color: teal;
  }
  .drinks {
    background-color: crimson;
  }

  section {
    background-color: blue;
    border: 3px solid black;
    margin: 10px;
    float: left;
  }

  p {
     width: 100%;
    font-family: Helvetica;
    color: white;
    background-color: blueviolet;
    float: left;
    border: 2px solid black;
    padding: 5px;
    margin: auto;
  }
  
  /* Simple Responsive Framework. */
  .row {
    width: 100%;
    background-color: goldenrod;
  }
  
  /********** desktop devices only **********/
  @media (min-width: 992px) {
    .col-desktop {
      width: 30%
    }
  }
  
  /********** tablet devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-tablet-1, .col-tablet-2 {
    }
        .col-tablet-1 {
            width: 45%;
        }
        .col-tablet-2 {
            width: 92.5%;
        }
    }

        /********** mobile devices only **********/
    @media (max-width: 767px) {
        .col-mobile {
          width: 90%;
          height: 30%;
        }
    }
  
  